allow mediaprovider_app rootfs:file create_file_perms;
allow mediaprovider_app unlabeled:binder impersonate;
allow mediaprovider_app vendor_file:file rx_file_perms;
